name: release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            platform: linux/amd64
            archive: tar.gz
          - target: aarch64-unknown-linux-gnu
            platform: linux/arm64
            archive: tar.gz

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        if: matrix.platform == 'linux/arm64'
        uses: docker/setup-qemu-action@v3

      - name: Build in container
        run: |
          docker run --rm --platform ${{ matrix.platform }} \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            -e CARGO_TERM_COLOR=always \
            ghcr.io/gtk-rs/gtk4-rs/gtk4:latest \
            bash -c "
              yum install -y gtk4-devel libadwaita-devel && \
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable && \
              source \$HOME/.cargo/env && \
              cargo build --release --locked --target ${{ matrix.target }}
            "

      - name: Pack Artifacts
        env:
          RELEASE_NAME: satty-${{ matrix.target }}
        run: |
          mkdir $RELEASE_NAME
          cp target/${{ matrix.target }}/release/satty -t $RELEASE_NAME
          cp -r completions -t $RELEASE_NAME
          cp -r README.md assets LICENSE satty.desktop -t $RELEASE_NAME
          tar -zcvf $RELEASE_NAME.${{ matrix.archive }} -C $RELEASE_NAME .

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: satty-${{ matrix.target }}.${{ matrix.archive }}
